<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rabbitmq</display-name>
 <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
     <!-- Register resources and providers under com.vogella.jersey.first package. -->
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>kr.co.inslab.web.service</param-value>
    </init-param>
    <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>kr.co.inslab.web.service.WebApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <!-- RabbitMq connection info -->
  <context-param>
    <param-name>rabbitmq-host</param-name>
    <param-value>catool-rabbitmq.cloudapp.net</param-value>
  </context-param>
  <context-param>
    <param-name>rabbitmq-virtual-host</param-name>
    <param-value>codealley</param-value>
  </context-param>
  <context-param>
    <param-name>rabbitmq-user-id</param-name>
    <param-value>USER_ID</param-value>
  </context-param>
  <context-param>
    <param-name>rabbitmq-user-passwd</param-name>
    <param-value>PASSWORD</param-value>
  </context-param>
  
  <!-- DatabasePool WebService connection info -->
  <context-param>
    <param-name>databasepool-service-host</param-name>
    <param-value>http://localhost:8080/databasepool/v1/query</param-value>
  </context-param>
  <context-param>
    <param-name>databasepool-auth-user</param-name>
    <param-value>USERNAME</param-value>
  </context-param>
  <context-param>
    <param-name>databasepool-auth-password</param-name>
    <param-value>PASSWORD</param-value>
  </context-param>
  
  <!--  -->
  <context-param>
    <param-name>rabbitmq-jenkins-token</param-name>
    <param-value>codealley</param-value>
  </context-param>
  <context-param>
    <param-name>rabbitmq-jenkins-queue-suffix</param-name>
    <param-value>-jenkins</param-value>
  </context-param>
  <context-param>
    <param-name>rabbitmq-jenkins-app-id</param-name>
    <param-value>remote-build</param-value>
  </context-param>
  
</web-app> 
